.vs/NetworkTool/DesignTimeBuild/.dtbcache
.vs/NetworkTool/FileContentIndex/5c7a446c-7152-4007-9ed4-c66728abbef7.vsidx
.vs/NetworkTool/FileContentIndex/read.lock
.vs/NetworkTool/v15/.suo
.vs/NetworkTool/v15/Server/sqlite3/db.lock
.vs/NetworkTool/v15/Server/sqlite3/storage.ide
.vs/NetworkTool/v15/Server/sqlite3/storage.ide-shm
.vs/NetworkTool/v15/Server/sqlite3/storage.ide-wal
.vs/NetworkTool/v17/.suo
AppShortcut.lnk